In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt

ImportError: dlopen(/Users/paulomartinez/anaconda3/lib/python3.6/site-packages/matplotlib/ft2font.cpython-36m-darwin.so, 2): Library not loaded: @rpath/libpng16.16.dylib
  Referenced from: /Users/paulomartinez/anaconda3/lib/libfreetype.6.dylib
  Reason: Incompatible library version: libfreetype.6.dylib requires version 51.0.0 or later, but libpng16.16.dylib provides version 49.0.0

In [8]:
validation_filings_df = pd.read_csv('data/nc_validation_filings (1).csv')

In [5]:
validation_filings_df.head()

  ticker      accession_number
0   ACAD  0001564590-18-003526
1    ACC  0001283630-18-000024
2   AFSI  0001365555-18-000052
3    AHL  0001267395-18-000024
4   AKRX  0001628280-18-002518

In [6]:
validation_filings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
ticker              100 non-null object
accession_number    100 non-null object
dtypes: object(2)
memory usage: 1.6+ KB

In [7]:
validation_filings_df.describe()

       ticker      accession_number
count     100                   100
unique    100                   100
top       CCO  0001564590-18-002405
freq        1                     1

In [9]:
share_rprchs_prgrph_df = pd.read_csv('data/share_repurchase_paragraphs.csv')

In [10]:
share_rprchs_prgrph_df.head()

,ticker,accession_number,data_key_friendly_name,text,data_value,reported_data_value,reported_units,paragraph_text
0,A,0001090872-17-000018,Share Repurchase Authorization Date,"May 28, 2015",20150528,20200000.00,ones,"On May 28, 2015 we announced that our board ..."
1,A,0001090872-17-000018,Share Repurchase Authorization,The 2015 share repurchase program authorizes t...,1140000000,1.14,billions,"On May 28, 2015 we announced that our board ..."
2,A,0001090872-17-000018,Share Repurchase Intention,remaining authorization to repurchase up to,610000000,610.00,millions,"Table of Contents 2016, upon the completion ..."
3,A,0001090872-17-000018,Share Repurchase Count,repurchased,4100000,4.10,millions,"Table of Contents 2016, upon the completion ..."
4,A,0001090872-17-000018,Amount Spent on Share Repurchases,repurchased,194000000,194.00,millions,"Table of Contents 2016, upon the completion ..."

In [11]:
share_rprchs_prgrph_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 8 columns):
ticker                    1781 non-null object
accession_number          1781 non-null object
data_key_friendly_name    1781 non-null object
text                      1781 non-null object
data_value                1781 non-null int64
reported_data_value       1781 non-null float64
reported_units            1781 non-null object
paragraph_text            1781 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 111.4+ KB

In [12]:
share_rprchs_prgrph_df.describe()

         data_value  reported_data_value
count  1.781000e+03         1.781000e+03
mean   1.928350e+09         4.547086e+06
std    1.144201e+10         8.416679e+06
min    3.000000e+02         1.000000e-01
25%    2.016092e+07         7.100000e+00
50%    1.820000e+08         3.000000e+02
75%    1.000000e+09         1.966450e+05
max    3.212210e+11         2.020000e+07

In [13]:
share_rprchs_prgrph_df.isnull().sum()

ticker                    0
accession_number          0
data_key_friendly_name    0
text                      0
data_value                0
reported_data_value       0
reported_units            0
paragraph_text            0
dtype: int64